body{
background-image: url(Pic/Motherhood_and_apple_pie.jpg);
 background-size: 100%;
    background-repeat: no-repeat;   
}
#recipeBody {
    background-image: url(Pic/appelpie.png);
    background-size: auto;
    background-repeat: repeat;
}

a{
 color: white;
}

main{
 font-family:Verdana;
    color: white;
background-color:#100;
opacity: 0.8;
}

#meny{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    
}
#menuli{
    float: right;
    padding: 14px 16px;
}
#rightside{
    float: left;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

#IngredientsList{
    display: flex;
}
#Pastry{
    flex: auto;
}
#Filling{
    flex: auto;
}

#Backing{
    flex: auto;
}

#Button{
    flex: auto;
}

li{
    list-style-type: none;
}
img{
    background:transparent;
}


